#contact {
    padding: 5rem 0;
    background: #181f24;
    color: #848990;
    @media only screen and (max-width:768px) {
        .contact-info {
            flex-direction: column;
            max-width: 80%;
            margin: 0 auto;
            &__container {
                margin-bottom: 5rem;
            }
            &__title {
                font-size: 1rem;
            }
            h4 {
                font-size: .8rem !important;
            }
            a {
                font-size: .8rem !important;
            }
        }
    }
    .contact-section {
        text-align: center;
        &__title {
            color: white;
            margin: 5rem 0;
            font-size: 2.5rem;
            display: inline-block;
            border-bottom: 1px solid #0a74f3;
            padding-bottom: 0.5rem;
        }
    }
    .contact-info {
        display: flex;
        justify-content: space-between;
        &__title {
            font-size: 1.5rem;
            color: #848990;
            margin-bottom: 3rem;
            font-weight: 900;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__group {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 4rem;
            &__image {
                width: 30px;
                margin-right: 1rem;
            }
            &__email {
                color: #848990;
                &:hover {
                    color: orange;
                }
            }
        }
    }
}
