
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.7rem;
    #menu {
        display: none;
    }
    @media only screen and (max-width:767px) {
        align-items: center;
        position: fixed;
        width: 100%;
        background: white;
        z-index: 1;
        &__logo {
            padding: 2rem 0;
            z-index: 1;
            background: white;
        }
        &__background {
            padding: 0 2rem;
        }
        #menu {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            right: 20px;
            margin-left: 1rem;
            cursor: pointer;
        }
        .nav-mobile {
            opacity: 0;
            height: 0;
            position: absolute;
            right: -1000px;
            top: 75px;
            transition: all 0.5s ease-in-out;
            &.active {
                opacity: 1;
                height: auto;
                right: 0;
                top: 75px;
                background: #316094;
                z-index: 2;
            }
        }
    }
    &__logo {
        width: 300px;
        @media only screen and (max-width:767px) {
            padding: 2rem 0;
            z-index: 1;
            background: white;
        }
        &__img {
            width: 100%;
        }
    }
    &__menu-icon {
        display: none;
        @media only screen and (max-width:767px) {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            right: 20px;
            margin-left: 1rem;
            cursor: pointer;
        }
    }
    .nav-desktop {
        padding: 2rem 0;
        color: black;
        &.active {
            opacity: 1;
            height: auto;
            right: 0;
            top: 75px;
            background: #316094;
            z-index: 2;
        }
        &__ul {
            display: flex;
            justify-content: flex-end;
            &__li {
                &__link {
                    padding: 25px;
                    background: white;
                    border-right: 1px solid #c6bfbf;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    color: black;
                    &:hover {
                        color: orange;
                        font-weight: 600;
                        letter-spacing: 2px;
                        background: #f9f9f9;
                    }
                }
            }
        }
    }
    &__background {
        padding: 0 2rem;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(45deg,rgba(0,20,51,0.8) 0%,rgba(23,25,23,1) 100%),url(/img/logisticsBackground.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        color: #fff;
        &__moto {
            padding: 10rem 0;
        }
    }
    &__title {
        font-size: 3rem;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
        text-transform: capitalize;
    }
    &__subTitle {
        font-size: 1rem;
        font-weight: 300;
    }
    &__call-button {
        margin-top: 4rem;
        &__link {
            text-transform: uppercase;
            font-weight: 300;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            border: 1px solid white;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: orange;
                border: 2px solid black;
                font-weight: 500;
            }
        }
    }
}
